<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>CNY</string>
		<key>name</key>
		<string>人民币</string>
	</dict>
	<dict>
		<key>code</key>
		<string>USD</string>
		<key>name</key>
		<string>美元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JPY</string>
		<key>name</key>
		<string>日元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EUR</string>
		<key>name</key>
		<string>欧元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GBP</string>
		<key>name</key>
		<string>英镑</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HKD</string>
		<key>name</key>
		<string>港元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AUD</string>
		<key>name</key>
		<string>澳大利亚元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CAD</string>
		<key>name</key>
		<string>加拿大元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CHF</string>
		<key>name</key>
		<string>瑞士法郎</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KRW</string>
		<key>name</key>
		<string>韩圆</string>
	</dict>
	<dict>
		<key>code</key>
		<string>THB</string>
		<key>name</key>
		<string>泰铢</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MYR</string>
		<key>name</key>
		<string>马来西亚林吉特</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RUB</string>
		<key>name</key>
		<string>俄国卢布</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ZAR</string>
		<key>name</key>
		<string>南非兰特</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NZD</string>
		<key>name</key>
		<string>新西兰元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PHP</string>
		<key>name</key>
		<string>菲律宾比索</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SGD</string>
		<key>name</key>
		<string>新加坡元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SEK</string>
		<key>name</key>
		<string>瑞典克朗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DKK</string>
		<key>name</key>
		<string>丹麦克朗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NOK</string>
		<key>name</key>
		<string>挪威克朗</string>
	</dict>
</array>
</plist>
